@using System.Web.Optimization
@using Diploma

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/bundles/less/main")
    <title>@ViewBag.Title</title>
</head>
<body>

    @{
        Html.RenderPartial("Header");
    }

    <table id="@Constants.UiElements.Id.MainContent" class="table-ui">
        <tbody>
            <tr>
                <td>
                    <div id="@Constants.UiElements.Id.Content">
                        @RenderBody()
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table width="100%" height=25px border="0" cellpadding="0" cellspacing="3" bordercolor="#316AC5">
        <tr>
            <td align=center>
                <var>
                    @{
                        Html.RenderPartial("Footer");
                    }
                </var>
            </td>
        </tr>
    </table>
</body>
</html>