@using Diploma.HtmlHelpers

<div class="menu-top">
    @Html.MenuLink("Оглавление", "Index", "Home") | @Html.MenuLink("Программа", "Index", "Program") | @Html.MenuLink("Практика", "Index", "Home") | @Html.MenuLink("Контроль знаний", "Index", "Home")| @Html.MenuLink("Об авторах", "Index", "Home")
</div>